---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class="my-10">
    <h1 class="sr-only">QR Code Information</h1>
    <article
      class="bg-white max-w-xs p-4 pb-10 rounded-[1.25rem] shadow-[0_25px_25px_rgb(0_0_0_/_0.0476518)] text-center w-full"
    >
      <header>
        <picture>
          <img src="qr-code.png" class="rounded-[0.625rem]" alt="QR Code" />
        </picture>
      </header>
      <section class="px-4">
        <h2
          class="font-bold leading-7 mt-6 text-[1.375rem] text-dark-navy-normal"
        >
          Improve your front-end skills by building projects
        </h2>
        <p class="mt-4 text-[0.9375rem] text-grey-normal">
          Scan the QR code to visit Frontend Mentor and take your coding skills
          to the next level
        </p>
      </section>
    </article>
  </section>
</Layout>
