---
import Attribution from '@/components/Attribution.astro'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#29376b" />
    <meta name="theme-color" content="#ffffff" />
    <title>#001 - QR Code Component With Astro :: Frontend Mentor</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="favicon/site.webmanifest" />
  </head>
  <body class="bg-default">
    <main class="grid min-h-screen place-content-center p-5">
      <slot />
    </main>
    <Attribution />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/Outfit-Regular.ttf) format('woff2');
  }

  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/Outfit-Bold.ttf) format('woff2');
  }

  body {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  svg {
    height: 100%;
    width: 100%;
  }
</style>
